{% extends "secFollowers/secFollowers_mutual.html" %}
{% block content %}
<style type="text/css">

	body
	{
	    counter-reset: Serial;           /* Set the Serial counter to 0 */
	}

	.numeruj:after
	{
	  counter-increment: Serial;      /* Increment the Serial counter */
	  content: counter(Serial); /* Display the counter */
	}

</style>



Only 200 followers per user are taken under consideration. Usually that alone exceeds the limit of Twitter API
<table class="table table-condensed">
	<col width="30">
	<tr>
		<td>
			<form action="/" method="get">
				<button type="submit" class="btn btn-default">
					Home
				</button> 
			</form>
		</td>
		<td>
			<form action="/followers/followers/technical{{ dest }}" method="post">
			{% csrf_token %}
				<button type="submit" class="btn btn-default">
					Show technical view
				</button> 
			</form>
		</td>
	</tr>
</table>
<h4 style="color: red">
	{{ limits }}
</h4>
<h3>
	<b>

				<form action="/someone/userInfo" method="post">
				{% csrf_token %}
					 <button type="submit" 
					 	name="screen_name" 
					 	value="{{ screen_name }}" 
					 	class="btn-link">
				 		@{{ screen_name }}
			 		</button>
					<input type = "hidden" name = "verifier" value = "0" ></input> 
				</form>
	</b>
</h3>
{% if users %}

<table class="table table-condensed">
<col width="130">
	<tr>
		<td>
			<h3>#</h3>
		</td>
		<td>
			<h3>Twitter handle</h3>
		</td>			
		<td>
			<h3>No. of followed people from your followers</h3>
		</td>
	</tr>
	{% for user, value in users %}
		<tr>
			<td class="numeruj"></td>
			<td>


				<form action="/someone/userInfo" method="post">
				{% csrf_token %}
					 <button type="submit" 
					 	name="screen_name" 
					 	value="{{ user }}" 
					 	class="btn-link">
				 		@{{ user }}
			 		</button>
					<input type = "hidden" name = "verifier" value = "0" ></input> 
				</form>
			</td>			
			<td>
				{{ value }}
			</td>
		</tr>
	{% endfor %}
</table>

{% else %}
	No relevent data available
{% endif %}

{% endblock %}
